.home-button {
    position: fixed; /* Can see even when scrolling */
    top: 20px;
    left: 20px;

    width: 60px;
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(231, 213, 158);
    z-index: 1000; /* Ensure the button is above other content */
}

.home-button img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

body {
    background-color: rgb(81, 93, 72);
    color: rgb(231, 213, 158);
    font-family: Arial, sans-serif;
    padding: 20px;
}

.title-section {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /*lets h1 bottom align with image bottom*/
    gap: 10px;
    margin-bottom: 40px;
}

.title-section h1 {
    margin: 0px;
    font-size: 3.3rem;
    color: rgb(231, 213, 158);
    /*rem is more accessible as it adjusts relative to root element*/
}

.logo {
    height: 131px;
    width: 90px;
    object-fit: contain;
    /*allows any image size to scale in to dimensions*/
    background-color: #ddd;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: rgb(231, 213, 158);
}

p {
    font-size: 1.1rem;
}

.page-description {
    text-align: center;
    margin-bottom: 50px;
    line-height: 1.6;
}

.character-box {
    background-color: #514535;
    color: rgb(231, 213, 158);
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 8px;
}

/*  Everything except Bio*/
.character-header {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.character-header img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border: 2px solid rgb(220, 193, 94);
    background-color: #ddd;
}

/* Character Name*/
.character-details h2 {
    color: rgb(255, 239, 192);
    margin: 0 0 10px 0;
}

.character-bio {
    margin-top: 1px;
    line-height: 1.5;
}