body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f5f5f5;
  color: #222;
}

.all-content-centred {
  max-width: 900px; /*using max width as all assets are fine to 
  compress horizontally but ensures enough white space breathing room around content*/
  
  margin: 0 auto; /* top & bottom 0,
  auto to distribute remaining horizontal screen space on left and right,
  so even when shrunk under 900px, all content is still centred, helps responsiveness*/

  padding: 40px; /*pads inner content away from edges*/
  background-color: white;
  min-height: 100vh; /*ensures centre div registers for whole viewport height*/
  box-sizing: border-box; /*allows for easy borders / padding*/
}

.title-section {
  display: flex;
  justify-content: center;
  align-items: flex-end; /*lets h1 bottom align with image bottom*/
  gap: 10px;
  margin-bottom: 40px;
}

.title-section h1 {
  margin: 0px;
  font-size: 3rem; /*rem is more accessible as it adjusts relative to root element*/
}

.logo-placeholder {
  height: 102px;
  width: 70px;
  object-fit: contain; /*allows any image size to scale in to dimensions*/
  background-color: #ddd;
  border: 2px dashed #999;
}

.trailer-video {
  width: 100%;
  height: 400px;
  background-color: #ddd;
  border: 2px dashed #999;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px; /*gap between video and next link */
  font-size: 1.2rem;
}

.demo-link-wrapper {
  text-align: center;
  margin-bottom: 40px;
}

.demo-link {
  display: inline-block; /*helps link be inline so coloured background only covers text and padding works*/
  font-size: 1.5rem;
  text-decoration: none;

}

.demo-link:hover {
  text-decoration: underline;
}

.about {
  line-height: 2; /*more reaadable*/
  text-align: center;
  margin-bottom: 50px;
}

.links-section {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

.individual-link {
  flex: .5; /*allows link boxes to consistently take up half width of window so only 1 shows on slimmer windows*/
  min-width: 250px; /*ensures cards dont shrink too much on smaller screens*/
  background-color: #fafafa;
  border: 1px solid #ddd;
  padding: 25px;
  text-align: center;
}

.individual-link h2 {
  margin-top: 0px;
  margin-bottom: 20px;
}

.individual-link a {
  text-decoration: none; /*lets underline show for only on hover*/
  color: #0066cc;
  font-weight: bold;
}

.individual-link a:hover {
  text-decoration: underline;
}